 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&amp;display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
 height: 100px;
  background: #555;
  text-align: center;
  padding: 24px;
  border: #4c4848;
  

}

.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: transparent;
    box-shadow: 0px 3px 15px rgb(43, 40, 40);
}

input {
    width: 320px;
    border: none;
    box-shadow: 0px 3px 15px rgb(52, 47, 47);
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 48px;
    cursor: pointer; 
    text-align: right;
}
input::placeholder{
    color: #ffffff;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 25px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1)
   
}
.red{
    background-color: rgb(255, 98, 0);
}
.tain{
    background-color: #717377;

}
#result{
    color: #ffffff;
}
footer{
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding: 12px 0;
  background: #222;
 
}

footer a{
  color: #00bcd4;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
}